<!--
    ____   ____.___    _________       _____  __                                 
\   \ /   /|   |  /   _____/ _____/ ____\/  |___  _  _______ _______   ____  
 \   Y   / |   |  \_____  \ /  _ \   __\\   __\ \/ \/ /\__  \\_  __ \_/ __ \ 
  \     /  |   |  /        (  <_> )  |   |  |  \     /  / __ \|  | \/\  ___/ 
   \___/   |___| /_______  /\____/|__|   |__|   \/\_/  (____  /__|    \___  >
                         \/                                 \/            \/ 
                         
    © 2023-2026 VI Software and contributors.
    Portions © 2017-2026 Daniel D. Scalzi. Licensed under the MIT License.

    License: GNU Affero General Public License v3.0 (AGPL-3.0)
    https://www.gnu.org/licenses/agpl-3.0.en.html

    This program is distributed in the hope that it will be useful, but WITHOUT 
    ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
    FITNESS FOR A PARTICULAR PURPOSE. See the license for more details.

    GitHub:  https://github.com/VI-Software
    Website: https://visoftware.dev
-->
    
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/launcher.css">
  <link rel="stylesheet" href="assets/css/splash.css">
  <link rel="stylesheet" href="assets/css/snowflakes.css">
</head>

<body>
  <div id="splashRoot">
    <div id="splashBgTiles" aria-hidden="true"></div>

    <div class="splashCard" role="dialog" aria-label="splash screen">
      <div class="splashLogoWrap">
        <img id="splashLogo" src="assets/images/logo-icon.png" alt="VI Software Logo" />
      </div>
      <h1 id="splashTitle">Starting VI Software Launcher</h1>
      <div id="splashProgressWrap">
        <div id="splashProgressBar">
          <div id="splashProgressFill" aria-hidden="true"></div>
        </div>
        <div id="splashProgressText">Please wait</div>
      </div>
    </div>
  </div>
  <script src="assets/js/scripts/splash.js"></script>
</body>

</html>