<!--
    ____   ____.___    _________       _____  __                                 
\   \ /   /|   |  /   _____/ _____/ ____\/  |___  _  _______ _______   ____  
 \   Y   / |   |  \_____  \ /  _ \   __\\   __\ \/ \/ /\__  \\_  __ \_/ __ \ 
  \     /  |   |  /        (  <_> )  |   |  |  \     /  / __ \|  | \/\  ___/ 
   \___/   |___| /_______  /\____/|__|   |__|   \/\_/  (____  /__|    \___  >
                         \/                                 \/            \/ 
                         
                         
    Copyright 2024 (©) VI Software y contribuidores. Todos los derechos reservados.
    
    GitHub: https://github.com/VI-Software
    Documentación: https://docs-vis.galnod.com/vi-software/vis-launcher
    Web: https://visoftware.tech
    Licencia del proyecto: https://github.com/VI-Software/vis-launcher/blob/main/LICENSE

-->


<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/vis-icon.png"/>
        <span id="welcomeHeader"><%- lang('welcome.welcomeHeader') %></span>
        <span id="welcomeDescription"><%- lang('welcome.welcomeDescription') %></span>
        <br>
        <span id="welcomeDescCTA"><%- lang('welcome.welcomeDescCTA') %></span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                <%- lang('welcome.continueButton') %>
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>